@import url('./base.less');
@mainColor: #006699;
//页面主体
#lt_container {
    
    position: relative;
    flex: 1;

    .product {
        // width: 100%;
        // height: 85px;
        >.leftbox {
            >img {
                display: block;
                width: 50px;
            }
            >input {
                display: block;
                margin: 18px auto 0px;
            }
        }
        >.rightbox {
            >span {
                font-size: 14px;
            }
            >.price {
                margin-top: 20px;
                width: 100%;
                >i.mui-pull-left {
                    color: red;
                    font-size: 15px;
                    margin-right: 5px
                }
                span.mui-pull-left {
                    color: gray;
                    text-decoration: line-through;
                }
            }
            >i {
                // margin-left: -40px;
                // padding-left :-40px;
                // margin-top: 40px;
                // width: 100%;
                display: block;
                font-size: 14px;
                color: gray;
            }
        }
    }
}

//订单通栏

#dingdan {
    border: 1px solid #ccc;
    padding:  0 10px;
    height: 33px;
    width: 100%;
    background-color: #eeeeee;
    >.mui-btn {
        display: block;
        height: 100%;
        width: 80px;
        text-align: center;
        color: white;
    }
    >i {
        // display: block;
        color: red;
        font-size: 12px;
        height: 33px;;
        line-height: 33px;
    }

}